@import url(./style.css);

header .menu-hamburgue {
  display: none;
}

@media (max-width: 1089px) {

  .resume-generica .experience-content,
  .education-content {
    justify-self: center;
    grid-column: 1/-1;
  }

  .resume-generica .education {
    grid-column: 1/-1;
    grid-row: 3;
    justify-self: center;
    margin: 30px 0;
  }

  .resume-generica .experience {
    grid-column: 1/-1;
    grid-row: 1;
    justify-self: center;
  }
  
  .cursos {
    grid-template-columns: 1fr;
  }

  .cursos .funfacts h2 {
    justify-self: center;
  }

  .cursos .funfacts {
    margin-bottom: 30px;
    text-align: center;
    grid-template-columns: 1fr;
    justify-self: center;
    grid-column: 1/-1;
  }

  .cursos .my-skill h2 {
    justify-self: center;
  }

  .cursos .my-skill {
    text-align: center;
    grid-template-columns: 1fr;
    justify-self: center;
    grid-column: 1/-1;
  }
}

@media (max-width: 992px) {
  .section-div img {
    display: none;
  }

  .section-div {
    background: url(../assets/fundo1.png) no-repeat center/cover;
  }

  header {
    justify-content: space-between;
    padding: 30px 70px;
  }

  header .navegacao-primaria {
    display: none;
  }

  header .menu-hamburgue {
    color: #f7f7f7;
    font-size: 2rem;
    display: block;
  }

  header .navegacao-primaria.ativado {
    background: linear-gradient(rgba(43, 42, 42, 0.176), rgba(46, 46, 46, 0.724));
    position: absolute;
    display: grid;
    top: 80px;
    color: #FFFFFF;
    z-index: 1;
    padding: 30px;
    font-size: 1.6rem;
    font-weight: bold;
    border-radius: 0 0 4px 4px;
    right: 20px;

    animation: sobeSecao .8s ease-in-out forwards;
  }

  .sobre img {
    grid-column: 1/-1;
    justify-self: center;
  }

  .sobre-conteudo {
    grid-column: 1/-1;
  }
}
