@import url(./style.css);

@media (max-width: 992px) {
  .section-div img {
    display: none;
  }

  .section-div {
    background: url(../assets/fundo1.png) no-repeat center/cover;
  }

  header .navegacao-primaria {
    display: none;
  }

  header i {
    color: #f7f7f7;
    font-size: 2rem;
  }

  .sobre img {
    grid-column: 1/-1;
    justify-self: center;
  }

  .sobre-conteudo {
    grid-column: 1/-1;
  }
}